bin/
dist/
/bluesnake
coverage.out
*.db
.DS_Store
/desktop/desktop
desktop/build/*
!desktop/build/appicon.png
desktop/frontend/node_modules/
desktop/frontend/dist/*
!desktop/frontend/dist/.gitkeep
desktop/frontend/wailsjs/
desktop/frontend/package.json.md5
